.section__home-hero {
  margin-top: 73px;
}
.section__home-brands {
  margin-top: 101px;
}
.section__home-caption {
  margin-top: 234px;
}
.section__home-our-line {
  margin-top: 97px;
  padding-bottom: 200px;
}
@media (max-width: 989.999px) {
  .section__home-hero {
    margin-top: 40px;
  }
  .section__home-brands {
    margin-top: 60px;
  }
  .section__home-caption {
    margin-top: 100px;
  }
  .section__home-our-line {
    margin-top: 50px;
  }
}
@media (max-width: 499.999px) {
  .section__home-hero {
    margin-top: 30px;
  }
  .section__home-caption {
    margin-top: 60px;
  }
  .section__home-our-line {
    margin-top: 30px;
  }
}
@media (max-width: 399.999px) {
  .section__home-hero {
    margin-top: 20px;
  }
}
